In [2]:
import basedosdados as bd

In [3]:
df = bd.read_sql("""
                SELECT 
                    ano, sigla_uf, causa_basica, COUNT(causa_basica) as quantidade, ocupacao, descricao_categoria
                FROM 
                    basedosdados.br_ms_sim.microdados AS sim
                    INNER JOIN  
                        basedosdados.br_bd_diretorios_brasil.cid_10 AS cid
                        ON
                            sim.causa_basica = cid.categoria
                WHERE 
                    ano = 2017
                    AND
                        ocupacao != 'None'
                GROUP BY 
                    ano, sigla_uf, ocupacao, causa_basica, descricao_categoria
                ORDER BY quantidade DESC

                LIMIT 10
            """,
            'explorando-basedosdados')
            
df

#todo: fazer a principal causa de cada estado, depois ver quais ocupações mais desviam

Downloading: 100%|██████████| 10/10 [00:00<00:00, 20.64rows/s]

,ano,sigla_uf,causa_basica,quantidade,ocupacao,descricao_categoria
0,2017,SP,I64,2636,999993,"Acidente vascular cerebral, não especificado c..."
1,2017,BA,R98,2328,999993,Morte sem assistência
2,2017,RJ,R99,2262,999993,Outras causas mal definidas e as não especific...
3,2017,SP,R99,2070,999993,Outras causas mal definidas e as não especific...
4,2017,BA,R99,1938,999993,Outras causas mal definidas e as não especific...
5,2017,MG,R99,1800,999993,Outras causas mal definidas e as não especific...
6,2017,BA,I64,1523,999993,"Acidente vascular cerebral, não especificado c..."
7,2017,SP,C61,1444,999993,Neoplasia maligna da próstata
8,2017,MG,I64,1392,999993,"Acidente vascular cerebral, não especificado c..."
9,2017,SP,I10,1374,999993,Hipertensão essencial (primária)